<div class="columns">
  <!-- Voe Gol e concorra a 100 Milhões de milhas Smiles -->
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="./assets/img/100milhoesdemilhas.jpg" alt="Voe Gol e concorra a 100 Milhões de milhas Smiles">
        </figure>
      </div>
      <article class="card-content">
        <div class="media">
          <div class="media-content">
            <h1 class="title is-4">{{ 'a.title' | translate:user }}</h1>
          </div>
        </div>    
        <time datetime="2016-1-1" class="tag is-black">{{ 'a.date' | translate:user }}</time>
        <div class="content">
          <p>{{ 'a.description' | translate:user }}</p>
          <div class="tags has-addons">
            <span class="tag">Link</span>
            <a href="https://100milhoesdemilhas.com.br/" class="tag is-info">🌐</a>
          </div>
        </div>
      </article>
    </div>
  </div>
  <!-- Florescer - Israelita Albert Einstein -->
  <div class="column is-one-third">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="./assets/img/florescer.png" alt="Placeholder image">
        </figure>
      </div>
      <article class="card-content">
        <div class="media">
          <div class="media-content">
            <h1 class="title is-4">Florescer - Israelita Albert Einstein</h1>
          </div>
        </div>
        <time datetime="2016-1-1" class="tag is-black">Sep 2015 – Sep 2015</time> <br>
        <div class="content">
          <p>
            Participação no projeto Florescer do Instituto do Cérebro do Hospital Israelita Albert Einstein em parceria com a Natura Inovação saúde, fui responsável pelo desenvolvimento Front-end pela empresa e-Deploy.
          </p>
          <div class="tags has-addons">
            <span class="tag">Link</span>
            <a href="http://florescer.inovaeinstein.com.br/Site/TermoConsentimento.php" class="tag is-info">🌐</a>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="./assets/img/gestao-de-reserva-GOL.png" alt="Gestão de reserva GOL (DOT)">
          </figure>
        </div>
        <article class="card-content">
          <div class="media">
            <div class="media-content">
              <h1 class="title is-4">Gestão de reserva GOL (DOT)</h1>
            </div>
          </div>
          <time datetime="2016-1-1" class="tag is-black">Feb 2015 – Ago 2015</time> <br>
          <div class="content">
            <p>
                Participação no projeto Gestão de reserva GOL (DOT) pela empresa e-Deploy sendo responsável pelo 
                desenvolvimento Front-end, esse projeto foi contemplado os padrões W3C e, validação no AccessMonitor,
                validação de CSS nível, contraste de cores em três variações, Branco, Preto e Azul.
            </p>
            <div class="tags has-addons">
              <span class="tag">Link</span>
              <a href="https://compre2.voegol.com.br/RetrieveBooking.aspx" class="tag is-info">🌐</a>
            </div>
          </div>
        </article>
      </div>
    </div>
</div>

