<div class="message">
  <p class="message-header">Basic</p>
  <div class="message-body field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">HTML5</span>
        <span class="tag is-info">99%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">CSS3</span>
        <span class="tag is-info">99%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">Javascript</span>
        <span class="tag is-info">99%</span>
      </div>
    </div>
  </div>
</div>

<div class="message">
  <p class="message-header">Javascript</p>
  <div class="message-body field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">Angular 2+</span>
        <span class="tag is-info">90%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">AngularJs</span>
        <span class="tag is-info">80%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">VueJS</span>
        <span class="tag is-info">75%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">ES6</span>
        <span class="tag is-info">80%</span>
      </div>
    </div>
  </div>
</div>
<div class="message">
  <p class="message-header">CSS</p>
  <div class="message-body field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">SASS</span>
        <span class="tag is-info">99%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">LESS</span>
        <span class="tag is-info">95%</span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark">Stylus</span>
        <span class="tag is-info">75%</span>
      </div>
    </div>
  </div>
</div>