<div class="columns is-multiline is-centered">
  <div class="column is-narrow is-one-third" *ngFor="let skills of skill">
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <i class="fab fa-{{ skills.class }} fa-4x"></i>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong class="is-half">{{ skills.name }}</strong>
            <div class="columns is-gapless">
              <div class="column is-four-fifths">
                <progress class="progress is-large" value="{{ skills.percent }}" max="100">{{ skills.percent }}%</progress>
              </div>
              <strong class="column">
                <span class="button is-rounded is-small">{{ skills.percent }} %</span>
              </strong>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>