.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;

  &__input {
    padding: 0.5rem;
    margin: 0.7rem 0;
  }

  &__button {
    background: var(--black);
    color: var(--white);
    border: 0;
    padding: 0.5rem 1.5rem;
    margin: 0.7rem 0;
    max-width: 8rem;
    align-self: flex-end;
  }

  &__textarea {
    max-width: 100%;
    height: 5rem;
  }
}
