body {
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 3rem;
}

h1 { font-family: 'Source Code Pro', monospace; }

* { margin: 0; padding: 0; box-sizing: border-box; }
ul li { list-style: none; }
a { text-decoration: none; }

:root {
  --black: #000000;
  --alice-blue: #EDF2F7;
  --white: #FFFFFF;
  --cornflower-blue: #4394F4;
  --cornflower-blue-ff: #60a9ff;
  --alice-blue: #E1F1FF;
  --dodger-blue: #016FF9;
  --night-rider: #333333;
  --very-light-grey: #CCCCCC;
}

.content {
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
  min-height: 79vh;
}

footer {
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
}

hr {
  border: 0;
  height: 1px;
  background: var(--night-rider);
  background-image: linear-gradient(to right, var(--very-light-grey), var(--night-rider), var(--very-light-grey));
  &.styled {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }  
}

.title-page {
  margin-bottom: 2rem;
}
