@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m3y14y');
  src:  url('../fonts/icomoon.eot?m3y14y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m3y14y') format('truetype'),
    url('../fonts/icomoon.woff?m3y14y') format('woff'),
    url('../fonts/icomoon.svg?m3y14y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social {
  display: flex;
  width: 7rem;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.icon {
  color: #000000;
  font-size: 1.5rem;
  &__name {
    font-size: 0;
  }
}

.icon-twitter:before {
  content: "\e900";
}
.icon-github:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
