<div class="columns">
  <div class="column is-2 menu">
    <app-avatar></app-avatar>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <app-menu></app-menu>
  </div>
  <div class="column is-10 top-header">
    <div class="column is-12 top-bar">
      <div class="columns">
        <div class="column">
          <app-translate></app-translate>
        </div>
        <div class="column is-offset-9">
          <app-social></app-social>
        </div>
      </div>
    </div>
    <div class="column is-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>