@import './../../../assets/scss/helper.scss';
.contact-form {
  &__label {
    display: block;
    width: 100%;
  }

  &__text {
    width: 100%;
    border: em(1) solid $midnight-express;
    padding: em(10) em(5);
    margin-bottom: em(10);
    border-radius: em(3);
  }

  &__send {
    border: 0;
    background: $midnight-express;
    color: $white;
    padding: em(10) em(30);
    font-weight: 700;
  }
}