<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        Hello, I'm Front End Developer
      </h3>
    </div>
  </div>
</section>
<br>
<section class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Three</p>
      <p>
          My name's Orivelton Cesar, I'm from Brazil, I live in São Paulo
      </p>
    </div>
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">One</p>

      </div>
    </div>
  </div>
</section>