@import './../../../assets/scss/helper.scss';

.translate {
  float: right;
  max-width: em(50);
  background: $midnight-express;
  width: 100%;
  &__en, &__pt {
    width: 100%;
    background: none;
    color: $white;
    border: 0;
  }
}