

<div class="col-md-6">
  <strong>HTML</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>

  <strong>CSS3</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>

  <strong>Javascript</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>

  <hr>
    Javascript
  <hr>

  <strong>ES6</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>
  <strong>Angular</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>
  <strong>React</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>
  <strong>View</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>
  <strong>Aurelia</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>

  <hr>
    Pré processadores
  <hr>
  <strong>SASS</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>
  <strong>LESS</strong>
  <div class="progress">
    <div class="progress__bar" style="width: 65%;"></div>
  </div>
</div>