@import './../../../assets/scss/helper.scss';

.box-project {
  text-align: center;
  padding: em(10);
  float: left;
  border: solid em(1) $picton-blue;
  &:hover {
    border: solid em(1) $midnight-express;
  }
  &__img {
    width: 100%;
    max-width: em(400);
  }

  &__link {
    display: block;
    text-decoration: none;
    background: $midnight-express;
    color: $white;
    padding: em(10);
    font-weight: 700;
    max-width: em(400);
    margin: auto;
  }
}