@import url(http://fonts.googleapis.com/css?family=Cutive%20Mono:400);

body {
  font-family:  "Cutive Mono", 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {margin: 0; padding: 0;}
ul li { list-style: none;}
a { text-decoration: none;}
