<nav>
  <ul class="group-menu">
    <li class="group-menu__item">
      <a routerLink="/home" title="{{ 'menu.home' | translate:user }}" routerLinkActive="active" title="{{ 'menu.home' | translate:user }}" class="group-menu__link">
        <i class="fas fa-home"></i> {{ 'menu.home' | translate:user }}
      </a>
    </li>
    <li class="group-menu__item">
      <a routerLink="/skils" routerLinkActive="active" title="{{ 'menu.skils' | translate:user }}" class="group-menu__link">
        {{ 'menu.skils' | translate:user }}
      </a>
    </li>
    <li class="group-menu__item">
      <a routerLink="/projects" routerLinkActive="active" title="{{ 'menu.skils' | translate:user }}" class="group-menu__link">
        {{ 'menu.projects' | translate:user }}
      </a>
    </li>
    <li class="group-menu__item">
      <a routerLink="/graduation" routerLinkActive="active" title="{{ 'menu.skils' | translate:user }}" class="group-menu__link">
        {{ 'menu.graduation' | translate:user }}
      </a>
    </li>
    <li class="group-menu__item">
      <a routerLink="/contact" routerLinkActive="active" title="{{ 'menu.skils' | translate:user }}" class="group-menu__link">
        {{ 'menu.contact' | translate:user }}
      </a>
    </li>
  </ul>
</nav>